
body {
      font: 400 15px;
      font-family: 'Ubuntu', sans-serif;
      line-height: 1.8;
      color: #818181;
    margin: 0;
    overflow-x: hidden;
}
      
#header {
    border: 0;
    font-style: italic;
    width: 100%;
    height: 100vh;
    position: absolute;
    float: left;
    color:azure;
    font-family: 'Ubuntu', sans-serif;
    -webkit-transition-duration:0.4s;/* Safari */transition-duration:0.4s;
    display: grid;
    grid-template-rows: 3fr max-content max-content max-content 1fr max-content 1fr;
    border: none;
}
      
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
      
  }
  h4 {
      font-size: 17px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .headerContainer {
      height:120vh;
      background-image: url("../img/bg_4.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; 
      background-color: black;
      color: #fff;
      position: relative;
      overflow: visible;
      z-index: 100;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #1b1b1b;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: black !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color:azure;
  }

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }


@media (min-height: 600px) {
    #footer {
    color: #bdbdbd;
    background: #212121;
    opacity: 1 !important;
    z-index: 100;
    height: 50vh!important;
    font-size: calc(1rem + 0.6vw);
    }
}

@media (max-height: 600px) {
    #footer {
    background: #212121;
    opacity: 1 !important;
    z-index: 100;
    height: 100vh!important;
    }
    

}

#footer {
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 1fr min-content 1fr min-content auto 1fr;
    
}

#madeBy {
    cursor: pointer;
    -webkit-transition-duration:0.4s;/* Safari */transition-duration:0.4s;
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
}

#madeBy:hover {
    color: white;
}

#madeBy:hover .made-with-heart {
    color: red !important;
    transition: all 0.3s ease;
}


.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.navbar-fixed-top {
    opacity: 0.9;
}

.hover-turn-gray:hover {
    color: lightgray!important;
}

.xl {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 5vmin;
    font-weight: 600;
    color: black;
}

.paragraph-title {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 6vmin;
}



.made-with-heart {
    font-size: 18px;
    color: #bdbdbd;
}

@media (orientation:landscape) {
    .hide-on-landscape {
        display: none;
    }
}

@media (orientation:portrait) {
    .hide-on-portrait {
        display: none;
    }
}


#projects-body {
    background-color: #f3f3f3;
    display: grid;
    grid-auto-rows: 60vh;
    grid-row-gap: 2vh
}

#min-footer {
    background: #212121;
    display: flex;
    color: #bdbdbd;
}

#min-footer p {
    font-size: calc(1rem + 0.6vw);
    cursor: pointer;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#min-footer p {
    -webkit-transition-duration:0.4s;/* Safari */transition-duration:0.4s;
}

#min-footer:hover p{
    color: white;
}

#min-footer:hover span{
    color: red;
}

.footer-p1 {
    justify-self: center;
    align-self: end;
}

.footer-p2 {
    justify-self: center;
    align-self: start;
}


.grid-item-center-align {
    justify-self: center;
    align-self: center;
}

.auto-size-img {
        height: 40vmin;
}



#rights-reserved {
    cursor: pointer;
    -webkit-transition-duration:0.4s;/* Safari */transition-duration:0.4s;
   grid-column: 2/3;
    grid-row: 5/6;
    justify-self: center;
}

#projects-body .odd {
    background-color: powderblue;
    color: black;
}

#projects-body .even {
    background-color: cadetblue;
    color: white;
    
}

.project-container {
    display: flex;
}

.project-container div {
    margin: auto;
    font-size: 6vmin;
}

.project-container div a {
    color: inherit;
}
