.tabs-demo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content {
  padding: 12px 24px;
  width: 100%;
  max-width: 30rem;
  background-color: oklch(96.7% 0.003 264.542);
  border-radius: 10px;
}
