.tabs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: oklch(96.7% 0.003 264.542);
  padding: 6px 12px;
  border-radius: 10px;
  width: fit-content;

  .tab {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 8px;
    text-wrap: nowrap;
    transition-duration: 200ms;

    &.tab__selected {
      background-color: oklch(92.8% 0.006 264.531);
      font-weight: 500;
    }

    &:hover,
    &:active {
      background-color: oklch(87.2% 0.01 258.338);
    }
  }
}
