@import url(constants.less);
@import url(copyright.less);
@import url(mobile.less);

html {
    background-color: @background-colour-main;
    .font-main();
}

#canvas {
    color: @rebel;
}

#block-container {
    width: 90%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vmin, 1fr));
    grid-gap: 1rem;
    overflow: hidden;
}

.block {
    background-color: @shakespeare-lighter-30;
    border-radius: 0.2rem;
    .override-anchor();
    .readonly();

    &:not(.empty) {
        box-shadow: 0px 0px 6px fade(@shakespeare-lighter-30, 20%);
    }

    &.large {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    &.rectangle {
        grid-row: span 1;
        grid-column: span 2;
    }

    &.rectangle-vertical {
        grid-row: span 2;
        grid-column: span 1;
    }

    &.one-by-three {
        grid-row: span 1;
        grid-column: span 3;
    }

    &.empty {
        background-color: transparent;
    }

    &.project {
        display: flex;
        .redirect-to-project {
            margin: auto;
        }
    }

    &:hover:not(.empty) {
        background-color: @shakespeare-darker-40;
        transition-duration: 0.3s;
        color: @almost-white;
    }
}

.copyright {
    color: @almost-white;
}

.title-block {
    display: flex;
    
    .title-content {
        margin: auto;
        font-size: 7vmin;
   }
}
